# Игнорируем виртуальное окружение
venv/
.venv*/
pyvenv.cfg

# Игнорируем кеш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы логов
logs/
*.log

# Игнорируем статические файлы, если они генерируются автоматически
/app/static/css/
/app/static/js/
/app/static/images/

# Игнорируем загруженные файлы
uploads/

# Игнорируем файлы IDE
.idea/
.vscode/

# Исключаем файлы и каталоги, относящиеся к Docker
Dockerfile


# Исключаем зависимости, если используем Poetry/Pipenv
.poetry/
Pipfile
Pipfile.lock

# Исключаем лишние архивы и бинарные файлы
*.zip
*.tar.gz
*.rar
*.7z
*.bin
*.iso
